* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: inherit;
  font-weight: normal;
  line-height: 100%;
}
a {
  text-decoration: none;
}
code {
  font-family: "Source Code Pro", monospace;
}
body {
  font-family: "Lora", Georgia, serif;
  color: #5f5f5f;
  font-size: 16px;
}
.content {
  display: block;
  max-width: 800px;
  margin: 2em auto;
}
.content .title {
  font-family: "Libre Baskerville", Georgia, serif;
  color: #34495e;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 0.5em;
}
.content .title:before {
  content: ' ';
  width: 2em;
  height: 1px;
  display: block;
  border-bottom: 3px solid #d6dfe1;
  margin: 0.5em 0em 0.3em -0.6em;
}
.content .section-title {
  font-family: "Helvetica", "Verdana", sans-serif;
  color: #95a5a6;
  font-size: 20px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.content .mini-title {
  line-height: 150%;
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.content .content-area {
  font-size: 18px;
  line-height: 1.4em;
}
.content .content-area p {
  margin-bottom: 1.5em;
}
.content .content-area ul {
  list-style: disc;
  margin: 0.5em 0em 1em 1.5em;
}
.content .content-area a {
  color: #2980b9;
  transition: color 0.2s ease-out;
}
.content .content-area a:hover {
  color: #3498db;
  text-decoration: underline;
}
.boxes-3,
.main-page .feature-boxes {
  display: flex;
  justify-content: space-around;
}
.boxes-3 .box,
.main-page .feature-boxes .box,
.main-page .feature-boxes .feature {
  flex-grow: 0;
  width: 33%;
  text-align: center;
  padding: 0 2em;
  align-self: flex-start;
}
.boxes-3 .box-title,
.main-page .feature-boxes .box-title,
.main-page .feature-boxes .feature-title {
  font-weight: bold;
  margin: 0.5em 0 1.5em 0;
  text-transform: uppercase;
  font-family: "Helvetica", "Verdana", sans-serif;
  letter-spacing: 0.03em;
}
.boxes-3 a,
.main-page .feature-boxes a {
  color: #2980b9;
  transition: color 0.2s ease-out;
}
.boxes-3 a:hover,
.main-page .feature-boxes a:hover {
  color: #3498db;
  text-decoration: underline;
}
.separated-section {
  border-top: 1px solid #ecf0f1;
  margin-top: 2em;
  padding-top: 1em;
}
.info-section {
  border-left: 5px solid #bdc3c7;
  background: #ecf0f1;
  padding: 1em;
}
header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ecf0f1;
}
header #top-navigation {
  padding: 2em 10%;
  flex-grow: 0;
  display: flex;
  align-items: flex-end;
}
header #top-navigation .project-name a {
  font-family: "Libre Baskerville", Georgia, serif;
  color: #34495e;
  font-size: 36px;
  font-weight: 400;
  flex-grow: 0;
}
header #top-navigation .project-links {
  flex-grow: 1;
  text-align: right;
}
header #top-navigation .project-links li {
  display: inline-block;
}
header #top-navigation .project-links a {
  font-size: 18px;
  font-family: "Libre Baskerville", Georgia, serif;
  text-transform: uppercase;
  padding: 0.3em 1em;
  border-bottom: 3px solid transparent;
  color: #95a5a6;
  transition: all 0.2s ease-out;
}
header #top-navigation .project-links a:hover {
  color: #34495e;
  border-bottom: 3px solid #34495e;
}
footer {
  margin-top: 3em;
  padding: 3em 10% 4em 10%;
  background: #34495e;
  color: #fff;
  font-family: "Helvetica", "Verdana", sans-serif;
  display: flex;
  justify-content: space-between;
}
footer a {
  color: #fff;
}
footer .project-info {
  flex-grow: 1;
  width: 40%;
  letter-spacing: 0.05em;
  line-height: 1.6em;
}
footer .project-info a {
  text-decoration: underline;
}
footer .project-info .small {
  font-size: 0.8em;
  line-height: 1.3em;
  color: #bdc3c7;
}
footer .heart {
  color: #e74c3c;
}
footer .footer-navigation {
  flex-grow: 1;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
footer .footer-navigation .nav-section {
  flex-shrink: 1;
  margin-left: 4em;
  line-height: 1.5em;
}
footer .footer-navigation .title {
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 1.2em;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #95a5a6;
}
footer .footer-navigation a:hover {
  text-decoration: underline;
}
.main-page header {
  height: 600px;
  background: #ecf0f1 url("../images/top.png") no-repeat bottom center;
  border-bottom: 1px solid #bdc3c7;
}
.main-page header .lead {
  flex-grow: 0;
  align-self: center;
  margin-top: 50px;
  font-size: 24px;
  color: #7f8c8d;
  text-align: center;
  text-shadow: 1px 0px 0px rgba(255,255,255,0.7);
}
.main-page header .lead em {
  color: #34495e;
}
.main-page header .install-instructions {
  flex-grow: 0;
  align-self: center;
  margin-top: 200px;
  font-family: "Source Code Pro", monospace;
  border: 1px dotted #95a5a6;
}
.main-page header .npm-install {
  font-size: 18px;
  color: #7f8c8d;
  display: block;
  padding: 20px 50px;
  background: rgba(255,255,255,0.7);
}
.main-page header .npm-install .shell {
  color: #bdc3c7;
}
.main-page header .npm-install .command,
.main-page header .npm-install .name {
  color: #34495e;
  font-weight: bold;
}
.main-page header .package-install {
  text-align: center;
  padding: 5px 20px 7px 20px;
  background: rgba(52,73,94,0.8);
  color: #ecf0f1;
}
.main-page header .package-install a {
  font-weight: bold;
  color: #fff;
  padding: 0 0.5em;
  letter-spacing: -0.01em;
}
.main-page .main-sections {
  max-width: 960px;
  margin: 3em auto 0 auto;
}
.main-page .main-sections .section-title {
  font-family: "Libre Baskerville", Georgia, serif;
  color: #34495e;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 1.5em;
  text-align: center;
}
.main-page .main-sections .section-title:after {
  width: 2em;
  height: 1px;
  display: block;
  border-bottom: 2px solid #d6dfe1;
  margin: 0.3em auto 0.5em auto;
}
.main-page .main-sections .section-title:after .title {
  font-family: "Libre Baskerville", Georgia, serif;
  color: #34495e;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 0.5em;
}
.main-page .main-sections .section-title:after .title:before {
  content: ' ';
  width: 2em;
  height: 1px;
  display: block;
  border-bottom: 3px solid #d6dfe1;
  margin: 0.5em 0em 0.3em -0.6em;
}
.main-page .main-sections .section-title:after .section-title {
  font-family: "Helvetica", "Verdana", sans-serif;
  color: #95a5a6;
  font-size: 20px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.main-page .main-sections .section-title:after .mini-title {
  line-height: 150%;
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.main-page .main-sections .section-title:after .content-area {
  font-size: 18px;
  line-height: 1.4em;
}
.main-page .main-sections .section-title:after .content-area p {
  margin-bottom: 1.5em;
}
.main-page .main-sections .section-title:after .content-area ul {
  list-style: disc;
  margin: 0.5em 0em 1em 1.5em;
}
.main-page .main-sections .section-title:after .content-area a {
  color: #2980b9;
  transition: color 0.2s ease-out;
}
.main-page .main-sections .section-title:after .content-area a:hover {
  color: #3498db;
  text-decoration: underline;
}
.main-page .getting-started-section {
  border-top: 1px solid #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4em;
  padding: 2em 0;
  font-size: 18px;
}
.main-page .getting-started-section .text {
  flex-grow: 1;
  text-align: left;
  font-size: 22px;
}
.main-page .getting-started-section .button {
  flex-grow: 0;
  border: 1px solid #34495e;
  padding: 0.5em 1em;
  font-family: "Helvetica", "Verdana", sans-serif;
  color: #34495e;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 2em;
  transition: all 0.2s ease-out;
}
.main-page .getting-started-section .button:hover {
  background: #34495e;
  color: #fff;
}
