// reset
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}


// constants
wet-asphalt = #34495e
concrete = #95a5a6
abestos = #7f8c8d
silver = #bdc3c7
clouds = #ecf0f1

heading-font = "Libre Baskerville", Georgia, serif;
mono-font = "Source Code Pro", monospace;

code {
  font-family: mono-font;
}


header {
  height: 600px;
  background: clouds url('../images/top.png') no-repeat bottom center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #top-navigation {
    padding: 2em 10%;
    flex-grow: 0;
    display: flex;
    align-items: flex-end;

    .project-name a {
      font-family: heading-font;
      color: wet-asphalt;
      font-size: 36px;
      font-weight: 400;
      flex-grow: 0;
    }

    .project-links {
      flex-grow: 1;
      text-align: right;

      li {
        display: inline-block;
      }

      a {
        font-size: 18px;
        font-family: heading-font;
        text-transform: uppercase;
        padding: 0.3em 1em;
        border-bottom: 3px solid transparent;
        color: concrete;
        transition: all 0.2s ease-out;

        &:hover {
          color: wet-asphalt;
          border-bottom: 3px solid wet-asphalt;
        }
      }
    }
  }


  .install-instructions {
    flex-grow: 0;
    align-self: center;
    margin-bottom: 150px;
    font-family: mono-font;
    border: 1px dotted concrete;
  }

  .npm-install {
    font-size: 18px;
    color: abestos;
    display: block;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.7);

    .shell {
      color: silver;
    }

    .command, .name {
      color: wet-asphalt;
      font-weight: bold;
    }
  }

  .package-install {
    text-align: center;
    padding: 5px 20px 7px 20px;
    background: rgba(52, 73, 94, 0.8)
    color: clouds;

    a {
      font-weight: bold;
      color: #fff;
      padding: 0 0.5em;
      letter-spacing: -0.01em;
    }
  }
}
