@import "nib"
@import "jsk-grid"

// ## Configuration ####################################################
global-reset()

jsk-grid-width = 100%

base-font-colour = #424242
base-colour = #f3f3f3
link-base-colour = #0772A1
link-visited-colour = darken(desaturate(link-base-colour, 30%), 30%)
link-hover-colour = lighten(saturate(link-base-colour, 30%), 30%)


// ## Classes ##########################################################

.constrained
  width: 960px
  margin: 0 auto

.undecorated
  text-decoration: none

.white-box
  background: #f9f9f9
  border: 1px solid #e9e9e9
  padding: 1em

// ## Layout ###########################################################
body
  font-size: 18px
  font-family: Lato, sans
  background: darken(base-colour, 5%)
  color: base-font-colour
  line-height: 130%
  border-top: 10px solid #555
  overflow-x: hidden

#header
  background: base-colour
  height: 100px
  padding-top: 30px
  overflow: hidden
  width: 100%

  #header-row
    jsk-grid-row: 12

  #header-container
    @extends .constrained

  #logo
    jsk-grid-column: 4

  #top-navigation
    jsk-grid-column: 8

  .fork-ribbon
    @extends .undecorated
    position: absolute
    top: 0
    right: 0
    background: #222
    padding: 10px 100px
    color: #eee
    transform: rotate(45deg) translateX(110px) translateY(-35px)
    letter-spacing: 1px
    word-spacing: 3px

#content
  background: base-colour
  padding: 3em 0

  #content-wrapper
    @extends .constrained

#footer
  padding: 50px 0
  text-align: center
  border-top: 1px solid darken(base-colour, 10%)
  color: #999
  letter-spacing: 2px
  font-size: 90%

// ## Typography #######################################################
#logo 
  a
    @extends .undecorated
  h1 a
    font-weight: 100
    color: #999
    font-size: 72px
    line-height: 100%
  em a
    text-transform: uppercase
    color: #ccc
    font-size: 18px
    letter-spacing: 1.3px
    padding-left: 5px
    
#top-navigation
  padding-top: 55px
  text-align: right
  
  li
    display: inline-block
    margin: 0 20px
  a
    @extends .undecorated
    color: #888
    font-size: 20px
    padding:  5px 10px
    border-bottom: 5px solid transparent
    text-transform: uppercase
    letter-spacing: 1px

    &:hover
      color: #aaa
    &.active
      color: #aaa
      border-bottom-color: link-hover-colour
    
#hero-description
  background: #424242
  color: #eee
  text-align: center
  padding: 30px 0 60px
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3)
  &.narrow
    padding: 0
  h2
    font-size: 42px
    line-height: 200%

  p
    font-size: 24px
    font-weight: 300
    color: #ddd
    line-height: 1.2em
  

.highlight-section
  .title
    font-weight: 300
    text-align: center
    line-height: 150%
    font-size: 32px
    color: #999
    margin-bottom: 1em
    span
      position: relative
      z-index: 1
      background: base-colour
      padding: 0 20px
    &:after
      content: ""
      display: block
      background: darken(base-colour, 10%)
      position: relative
      top: -20px
      height: 1px
    
.overview-boxes-container
  jsk-grid-row: 12
  clearfix()
  
.overview-boxes
  li
    jsk-grid-column: 4
    margin-bottom: 20px
    height: 150px
    text-align: center
    box-sizing: border-box
  li:nth-child(2), li:nth-child(5)
    border-left: 1px solid #ddd
    border-right: 1px solid #ddd
  h3
    font-size: 20px
    font-weight: bold
    text-transform: uppercase
    line-height: 1.5em
    margin-bottom: 1em
    word-spacing: 2px
  p
    padding: 0 10px
    color: #888
    
  
    
.section
  margin-top: 2em

a
  color: link-base-colour
  text-decoration: none

a:hover
  color: link-hover-colour
  text-decoration: underline

a:visited
  color: link-visited-colour

code
  font-family: monospace
  color: #bf8330
  padding: 0 0.3em

.heart
  color: lighten(desaturate(#d8005f, 50%), 50%)
  font-size: 150%
  vertical-align: middle

.doge
  whitespace: pre
  font-size: 2em
  color: #ffaa40
  font-family: "Comic Sans", cursive
  line-height: 150%

.bulleted
  list-style: square
  margin-left: 1.5em
  li
    margin-bottom: 1.5em


.document
  font-family: Droid Serif, serif
  width: 770px
  margin: 50px auto
  text-shadow: 1px 0 0 rgba(255, 255, 255, 0.6)

  h1, h2, h3, h4, h5, h6
    font-weight: 300
    line-height: 150%
    color: #999
    margin: 1em 0 0.5em
    font-family: Lato, sans
    text-shadow: 0 0 0 10px base-colour
    position: relative
    z-index: 2
    overflow-x: hidden
    whitespace: nowrap
    margin-left: -60px
    &:after, &:before
      content: ""
      display: inline-block
      vertical-align: middle
      height: 1px
      width: 1000px
      background: #ddd
    &:before
      width: 50px
      margin-right: 10px
    &:after
      margin-left: 10px
    code
      color: #999
      font-size: 80%

  h1
    font-size: 2.6em
  h2
    font-size: 2.3em
  h3
    font-size: 2em
  h4
    font-size: 1.5em
  h5
    font-size: 1.2em

  p
    margin: 0.5em 0 1.5em
    line-height: 1.4em

  blockquote, .highlight
    @extend .white-box
    margin: 1em 0em
    border-left: 5px solid #e9e9e9

  blockquote
    color: #999

    pre
      border-top: 1px solid #e9e9e9
      border-bottom: 1px solid #e9e9e9
      padding: 10px
      background: base-colour
    pre code
      color: #aaa
      
    
  pre
    font-size: 14px
    margin-bottom: 1.5em
    line-height: 1.3em
    code
      padding: 0

  .highlight pre
    margin: 0
    code
      color: base-font-colour

  ol
    list-style: decimal
    ol
      list-style: lower-roman
      ol
        list-style: lower-latin

  ul
    list-style: square
    ul
      list-style: circle
      ul
        list-style: disc

  ul, ol
    margin: 1em 0 1.5em 1.5em
    li
      margin-bottom: 1em

  strong
    font-weight: bold
  em
    font-style: italic
  sup
    font-size: 80%
    vertical-align: super
  sub
    font-size: 80%
    vertical-align: sub


  .footnotes
    border-top: 1px solid #ddd
    color: #999
    font-size: 90%
    hr
      display: none
    li p:last-of-type
      margin-bottom: 0

  .maruku_toc a code
      color: inherit

  pre code.oblige
    display: block
    @extend .white-box
    color: link-hover-colour
    position: relative
    &:before
      content: "Type"
      padding: 5px 10px
      background: #e9e9e9
      color: #999
      position: absolute
      right: 0px
      top: 0px
      text-transform: uppercase
      font-size: 90%
      text-shadow: 1px 0 0 #fff
