<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - The Folktale framework for generic programming in JavaScript</title>
    <meta name="viewport" content="width=device-width">

    <meta name="description"
          content="Folktale is a framework for functional and generic
          programming in JavaScript, giving you tools for achieving maximum
          DRY.">
    <meta name="keywords"
          content="fantasy-land, monads, generic programming, open source,
          javascript, library, framework, functional programming">

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/screen.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400|Droid+Serif:400,700'
          rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="header">
      <div id="header-container">
        <div id="header-row">
          <header id="logo">
            <h1><a href="/">Folktale</a></h1>
            <em><a href="/">JavaScript meets DRY</a></em>
          </header>
          <nav id="top-navigation">
            <ul>
              {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url or page.group == link.group %}
                  {% assign current = 'active' %}
                {% endif %}
                <li><a class="{{ current }}" href="{{ link.url }}">{{ link.text}}</a></li>
              {% endfor %}
            </ul>
          </nav>
          
        </div>
      </div>
      <div class="ribbon-container">
        <a href="http://github.com/folktale" class="fork-ribbon" target="_blank">Fork on Github</a>
      </div>
    </div>

    <div id="content">
      {{ content }}
    </div>

    <div id="footer">
      Made with <span class="heart">♥</span> by <a href="http://robotlolita.github.io">Quildreen Motta</a>.
    </div>
  </body>
</html>
