---
layout: base
---

<header>
  <nav id="top-navigation">
    <h1 class="project-name">
      <a href="/">Folktale</a>
    </h1>

    <ul class="project-links">
      {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url == link.url or page.group == link.group %}
          {% assign current = 'active' %}
        {% endif %}
        <li><a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a></li>
      {% endfor %}
    </ul>
  </nav>


  <div class="lead">
    A standard library for <em>functional programming</em> in JavaScript
  </div>

  <div class="install-instructions">
    <code class="npm-install">
      <span class="shell">$</span> <span class="command">npm install</span> --save <span class="name">folktale</span>
    </code>
    <div class="package-install">
      or <a href="{{ site.version.package }}">download a pre-packaged script</a>
    </div>
  </div>
</header>

{{ content }}
